
p {
    font-family: Verdana, sans-serif;
    text-align: center;
}
h1 {
    font-family: Georgia, serif;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: Georgia, serif;
}
figcaption {
    text-align: Center;
    font-weight: bold;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #80CED6;
  }
  
  li {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right:  1px solid #000;
    border-left: 1px solid #000;
    float: left;
  }
  
  li:last-child {
    border-right: 1px solid;
  }
  
  li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #b1cbbb;
  }
  
  .active {
    background-color: #b1cbbb;
  }
